.dot {
  width: 24px;
  height: 24px;
  background-color: var(--other-bg);
  border: 6px solid var(--blue);
  border-radius: 12px;
}

.careerItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.careerItemGap {
  width: 24px;
  background-color: #0000;
}

.careerItemText {
  color: var(--paragraph-color);
}

.fullGap {
  flex: 1;
}

.graydot {
  width: 18px;
  height: 18px;
  background-color: var(--white);
  border: 4px solid var(--light-gray);
  border-radius: 12px;
  margin-right: 5px;
  margin-left: 3px;
}

@media (max-width: 450px) {
  .dot {
    width: 18px;
    height: 18px;
    border: 5px solid var(--blue);
  }

  .careerItemText {
    white-space: nowrap;
    font-size: 12px;
  }

  .careerItemGap {
    width: 12px;
  }

  .graydot {
    width: 14px;
    height: 14px;
    margin-left: 2px;
  }
}

@media (max-width: 600px) {
  .dot {
    width: 20px;
    height: 20px;
    border: 5px solid var(--blue);
  }

  .careerItemText {
    white-space: nowrap;
    font-size: 14px;
  }

  .careerItemGap {
    width: 12px;
  }

  .graydot {
    width: 14px;
    height: 14px;
    margin-left: 2px;
  }
}
