.parent {
  display: flex;
  flex-direction: row;
  align-items: middle;
  height: 100vh;
  background-color: var(--other-bg);
  padding-top: 5vh;
  padding-right: 10vw;
  padding-bottom: 5vh;
  padding-left: 15vw;
  scroll-snap-align: start;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profileParagraph {
  flex: 1;
  color: var(--paragraph-color);
  line-height: 1.5;
}

.gap {
  flex: 0.5;
}

.fullGap {
  flex: 1;
}

.career {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.animation {
  display: flex;
  animation: slidein 1s;
}

.mobile {
  display: none;
}

@keyframes slidein {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.personalHeader {
  font-size: 36px;
  font-weight: 600;
  color: var(--title-color);
  text-align: center;
  margin-right: 24px;
  margin-bottom: 56px;
  margin-left: 24px;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--gray);
}

.profileHeader {
  font-size: 36px;
  font-weight: 600;
  color: var(--title-color);
  text-align: center;
  margin-right: 24px;
  margin-bottom: 56px;
  margin-left: 24px;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--gray);
}

@media (max-width: 900px) {
  .animation {
    display: none;
  }

  .mobile {
    display: block;
  }

  .parent {
    height: auto;
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .carousel {
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
  }

  .profileParagraph {
    margin-bottom: 32px;
  }
}
