.parent {
  display: flex;
  flex-direction: row;
  align-items: middle;
  width: 100vw;
  height: 100vh;
  background-color: var(--very-very-light-gray);
  padding-top: 10vh;
  padding-right: 10vw;
  padding-bottom: 5vh;
  padding-left: 15vw;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profileParagraph {
  flex: 1;
  color: var(--very-dark-gray);
}

.gap {
  flex: 0.5;
}

.fullGap {
  flex: 1;
}

.career {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 32px;
}

.bar {
  flex: 0.25;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 24px;
  height: 24px;
  background-color: var(--white);
  border: 6px solid var(--blue);
  border-radius: 12px;
}

.line {
  width: 8px;
  height: 30px;
  background-color: var(--blue);
  margin: -3px 8px;
}

.grayline {
  width: 0px;
  height: 30px;
  border: 0;
  border-right: 4px solid var(--light-gray);
  border-style: dashed;
  margin-right: 11px;
  margin-bottom: -2px;
  margin-left: 11px;
}

.graydot {
  width: 18px;
  height: 18px;
  background-color: var(--white);
  border: 4px solid var(--light-gray);
  border-radius: 12px;
  margin-right: 4px;
  margin-left: 4px;
}

.careerItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.careerItemGap {
  width: 32px;
  background-color: #0000;
}

.image {
  position: relative;
  width: 70%;
  aspect-ratio: 3 / 2;
  margin-left: auto;
  margin-bottom: 64px;
}
