:root {
  --white: #fff;
  --very-very-light-gray: #fafafa;
  --very-light-gray: #dddddd;
  --light-gray: #aaaa;
  --gray: #888c;
  --dark-gray: #555e;
  --very-dark-gray: #333;
  --transparent-gray: #8888;
  --light-transparent-gray: #aaa4;
  --very-light-blue: #88d8;
  --light-blue: #66b;
  --blue: #449;
  --dark-blue: #227;
  --very-dark-blue: #009;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
