.main {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  min-height: 100vh;
  font-family: "JetBrains Mono", Arial;
}

.content {
  height: 100vh;
  overflow-y: scroll;
  flex: 1;
  scroll-snap-type: y mandatory;
}
