.parent {
  scroll-snap-align: end;
  width: 100%;
  height: 300px;
  padding-top: 7.5vh;
  padding-right: 10vw;
  padding-bottom: 5vh;
  padding-left: 15vw;
  background-color: var(--other-bg);
}

.avatar {
  width: 150px;
  height: 150px;
  background-color: var(--white);
  border: 1px solid var(--gray);
  border-radius: 75px;
}

.image {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 25px;
  margin-top: 20px;
}

.description {
  margin-left: 32px;
  color: var(--paragraph-color);
}

.name {
  font-size: 18px;
  font-weight: 600;
}

.shortParagraph {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.3;
}

.contact {
  font-size: 18px;
}

.animation {
  display: flex;
  animation: slidein 1s;
}

.career {
  display: none;
}

@keyframes slidein {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 900px) {
  .parent {
    height: auto;
    padding-left: 15vw;
    padding-right: 10vw;
  }
  .animation {
    height: auto;
    flex-direction: column;
    justify-content: center;
  }
  .description {
    margin: 0;
  }
  .avatar {
    width: 130px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
  }
  .image {
    width: 90px;
    height: 90px;
    margin: 20px;
  }
  .name {
    display: flex;
    justify-content: center;
  }
  .description {
    font-size: 16px;
  }
  .contact {
    font-size: 16px;
  }

  .career {
    display: none;
  }
}

@media (max-width: 450px) {
  .parent {
    padding-left: 7.5vw;
    padding-right: 7.5vw;
  }
  .animation {
    height: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .description {
    margin: 0;
  }
  .avatar {
    width: 130px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
  }
  .image {
    width: 90px;
    height: 90px;
    margin: 20px;
  }
  .name {
    display: flex;
    justify-content: center;
  }
  .description {
    font-size: 14px;
  }
  .contact {
    font-size: 14px;
  }
}
