.buttonParent {
  height: 40px;
  padding-top: 8px;
  margin-right: 16px;
  z-index: 100;
  outline: 0;
}

.button {
  display: flex;
  flex-direction: row;
  width: 48px;
  height: 32px;
  border-radius: 16px;
  border: 0;
  padding: 3px;
  transition: 0.25s;
}

.button:hover {
  cursor: pointer;
}

.lightButton {
  background-color: var(--very-light-gray);
}

.darkButton {
  background-color: var(--blue);
}

.darkButton:hover {
  background-color: var(--very-light-gray);
}

.notch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border-radius: 18px;
}

.none {
  display: none;
}

.lightNotch {
  background-color: var(--gray);
  transition: 0.25s;
  margin-left: 0px;
}

.button:hover .lightNotch {
  background-color: var(--blue);
}

.darkNotch {
  background-color: var(--other-bg);
  transition: 0.25s;
  margin-left: 16px;
}

.button:hover .darkNotch {
  background-color: #000;
}

.icon {
  transition: 0.25s;
}

.moonIcon {
  padding-top: 4px;
  font-size: 14px;
  color: var(--white);
  opacity: 100;
}

.moonIconRotated {
  transform: rotate(-90deg);
  opacity: 0;
  width: 0;
  overflow: hidden;
}

.sunIcon {
  padding-top: 3px;
  padding-left: 1px;
  color: var(--blue);
  opacity: 100;
}

.sunIconRotated {
  transform: rotate(90deg);
  opacity: 0;
  width: 0;
  overflow: hidden;
}

.button:hover .sunIcon {
  color: var(--white);
}

@media (max-width: 900px) {
  .buttonParent {
    margin-right: 8px;
  }
}
