.image {
  position: relative;
  width: 100%;
  aspect-ratio: calc(16 / 9);
  background-color: var(--blue);
}

.image:hover {
  cursor: pointer;
}

.captionDesktop {
  margin-top: 4px;
  display: block;
}

.captionMobile {
  margin-top: 8px;
  display: none;
}

@media (max-width: 900px) {
  .captionDesktop {
    display: none;
  }

  .captionMobile {
    display: block;
  }

  .caption {
    color: #aaa;
    font-size: 24px;
    text-align: center;
  }
}
