.parent {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 10vh 10vw;
  background-color: var(--modal-around-bg);
  z-index: 100;
  animation: fadein 0.25s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 80vh;
  background-color: var(--modal-bg);
  box-shadow: 0 0 8px 1px var(--modal-shadow);
  animation: slidein 0.25s;
}

@keyframes slidein {
  0% {
    opacity: 0;
    transform: translateY(50vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.header {
  height: 40px;
  text-align: right;
}

.closeIcon {
  width: 40px;
  height: 40px;
  padding: 4px;
  margin-left: auto;
  font-size: 32px;
  color: var(--gray);
  transition: 0.25s;
}

.closeIcon:hover {
  cursor: pointer;
  color: var(--dark-gray);
}

.content {
  flex: 1;
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 40px;
}

.left {
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
}

.image {
  position: relative;
  width: 90%;
  aspect-ratio: 16 / 9;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.title {
  display: flex;
  flex-direction: row;
  flex: 1;
  font-size: 26px;
  font-weight: 600;
  color: var(--title-color);
  align-items: end;
}

.subdescription {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.categories {
  font-size: 14px;
  color: var(--paragraph-color);
}

.techstack {
  font-size: 14px;
  color: var(--paragraph-color);
}

.description {
  display: flex;
  align-items: center;
  flex: 3;
  font-size: 16px;
  color: var(--paragraph-color);
}

.websitelink {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border: 1px solid var(--button-border);
  border-radius: 4px;
  margin-right: 8px;
  transition: 0.2s;
  color: var(--title-color);
}

.websitelink:hover {
  background-color: var(--button-hover-bg);
  cursor: pointer;
}

.websiteHeader {
  margin-right: 8px;
}

.websitelink:active .websiteHeader {
  text-decoration: underline;
}

.githublink {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border: 1px solid var(--button-border);
  border-radius: 4px;
  margin-right: 8px;
  transition: 0.2s;
  color: var(--title-color);
}

.githublink:hover {
  background-color: var(--button-hover-bg);
  cursor: pointer;
}

.githubHeader {
  margin-right: 8px;
}

.githublink:active .githubHeader {
  text-decoration: underline;
}

.linkParent {
  display: flex;
  align-items: center;
  flex: 1;
}

.responsiveTitle {
  display: none;
}

.desktopTitle {
  display: block;
}

@media (max-width: 300px) {
  .parent {
    padding: 5vh 7.5vw;
  }
  .modal {
    width: 85vw;
    height: 90vh;
  }
  .content {
    flex-direction: column;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }

  .responsiveTitle {
    display: block;
    margin-bottom: 16px;
  }
  .desktopTitle {
    display: none;
  }
  .description {
    font-size: 12px;
  }
  .categories {
    font-size: 12px;
  }
  .techstack {
    font-size: 12px;
  }

  .websitelink {
    font-size: 12px;
    margin-top: 8px;
  }
  .githublink {
    font-size: 12px;
    margin-top: 8px;
  }

  .content {
    padding-bottom: 16px;
  }
  .image {
    margin-bottom: 8px;
  }
}
