.button {
  display: flex;
  width: 100%;
  border: 0;
  outline: 0;
  background-color: #0000;
  padding-bottom: 12px;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

.button:hover {
  cursor: pointer;
}

.buttonText {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  font-size: 20px;
  color: var(--gray);
  transition: 0.25s;
}

.buttonText:hover {
  /* border-left: 4px solid var(--blue);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  padding-left: 16px; */
  font-weight: 600;
  color: var(--blue);
}

.buttonText:active {
  border-left-color: var(--dark-blue);
  color: var(--dark-blue);
}

.prefix {
  transition: 0.25s;
  transition-property: height, width, border-radius;
}

.bar {
  visibility: hidden;
  width: 6px;
  height: 24px;
  margin-right: 16px;
  border-radius: 2px;
}

.button:hover .bar {
  visibility: visible;
  background-color: var(--blue);
}

.dot {
  margin: auto;
  margin-right: 16px;
  width: 6px;
  height: 5px;
  border-radius: 3px;
  background-color: var(--blue);
}

.selectedButton {
  display: flex;
  width: 100%;
  border: 0;
  outline: 0;
  background-color: #0000;
  padding-bottom: 12px;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

.selectedButtonText {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  color: var(--blue);
}

.animate {
  transition: 0.25s;
}
