.parent {
  position: relative;
  display: flex;
  justify-content: right;
  height: 20px;
  margin-top: -20px;
  padding-right: 24px;
  z-index: 100;
}

.copyright {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-family: "Consolas", Arial;
  color: var(--gray);
}
